.range-chart {
  /* border: red solid 3px; */
  display: grid;
  grid-template-rows: repeat(13, 2em);
  grid-template-columns: repeat(13, 2em);
}

.range-chart-flex {
  border: solid whitesmoke 2px;
  width: 24em;
  height: 26em;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.prebuilt-ranges-container {
  /* border: plum solid 2px; */
}

#grid-test {
  /* border: paleturquoise solid 3px; */
  display: grid;
  grid-template-rows: repeat(13, 2em);
  grid-template-columns: repeat(13, 7.69%);
}

