#hand-selector {
  /* border: green solid 1px; */
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

button {
  font-size: 17px;
}

/* adjust font-size in each cell to allow smooth resizing */
@media (min-width: 800px) {
  #hand-selector {
    font-size: x-small;
  }
}

@media (min-width: 1000px) {
  #hand-selector {
    font-size: small;
  }
}