.App {
  /* border: orange solid 3px; */
  display: grid;
  background-color: whitesmoke;
  padding: 5%;
  color: whitesmoke;
  background-color: #2b2626;
}

.container {
  /* border: red solid 1.5px; */
  border-radius: .5em;
  min-height: 2em;
  margin: 1em;
}

